# ====================================================================
# CONFIGURACIÓN ESPECÍFICA DE JAVA Y SPRING BOOT
# ====================================================================
# Compiled class file
*.class

# Carpetas de compilación pesadas (¡CRÍTICO!)
target/
work/
bin/

# Log files
*.log

# Package Files (Entregables)
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# ====================================================================
# SEGURIDAD Y HERRAMIENTAS DE DESARROLLO (IDE)
# ====================================================================
# Bloqueo total de credenciales y perfiles de VS Code
.vscode/
.env

# Archivos ocultos del ecosistema Java en VS Code
.factorypath
.project
.classpath
.settings/

# BlueJ & J2ME
*.ctxt
.mtj.tmp/

# Crash logs
hs_err_pid*
replay_pid*

# ====================================================================
# SISTEMA OPERATIVO (MACOS)
# ====================================================================
# Exclusivo para tu MacBook Air
.DS_Store
.AppleDouble
.LSOverride